#web{
    border: 1px solid lightgray;
}
#navbar-brand{
    background-color: teal;
    color: white;
}
label{
    color: gray;
}
#name{
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: teal;
    color: white;
}
#sub{
    background-color: teal;
}
.navbar a{
    color: gray;
  
}
#avatar{
    float: left;
    margin-right: 3%;
    max-width: 100%;
    height: auto;
}

.lead{
    padding-left: 3%;
}
#main-one{
    margin-right: 35%;
    margin-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    
  
    background-color: white;
   
}
#main-two{
    margin-right: 15%;
    margin-left: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    
  
    background-color: white;
   
}
#main-main{
    background-color: lightgray;
    margin-top: -6%;
    
    padding-top: 2%;

}
#div-footer{
    text-align: center;
    padding: 2%;
    background-color: gray;
    color: white;
    border-top: 3px solid teal;
    
}

#foot{
    font-size: 70%;
}
#about{
    margin-bottom: 3%;
    border-bottom: 2px solid lightgray;
    color: teal;
}

#nav-1{
    padding-bottom: 2%;
    padding-top: 4%;
}

.portf{  /*portfolio*/
    width: 150px;
    height: 150px;
    
    display: inline-block;
    
} 

.image{
    width: 50%;
    
}
.img1  {
    position: relative; 
    max-width:100%;
     max-height:100%;
    display: inline-block;
    margin: 1%;
  }
  
  .content1 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #4aaaa5;
    
    color: #f1f1f1; /* Grey text */
    width: 150px; /* Full width */
    text-align: center;
  }

  .img2  {
    position: relative; 
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 1%;

  }
  
  .content2 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #4aaaa5;
    
    color: #f1f1f1; /* Grey text */
    width: 150px; /* Full width */
    text-align: center;
  }

  .img3  {
    position: relative; 
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 1%;

  }
  
  .content3 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #4aaaa5;
    
    color: #f1f1f1; /* Grey text */
    width: 150px; /* Full width */
    text-align: center;
  }


  .img4  {
    position: relative; 
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 1%;

  }
  
  .content4 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #4aaaa5;
    
    color: #f1f1f1; /* Grey text */
    width: 150px; /* Full width */
    text-align: center;
  }


  .img5  {
    position: relative; 
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 1%;

  }
  
  .content5 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #4aaaa5;
    
    color: #f1f1f1; /* Grey text */
    width: 150px; /* Full width */
    text-align: center;
  }

  .img6  {
    position: relative; 
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 1%;

  }
  
  .content6 {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: #4aaaa5;
    
    color: #f1f1f1; /* Grey text */
    width: 150px; /* Full width */
    text-align: center;
  }